{% extends 'layout.html' %}

{% block title %} Simular IDF | Simulación {{ simulacion.simular_id }}{% endblock %}
{% block header %} <h2> Simular IDF  </h2> {% endblock %}


{% load static  %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">


{% block content %}

    <div class="page-header">
          <h2>Identificador de simulación: {{ simulacion.simular_id }} </h2>
    </div>



           <div class="animated flipInY col-lg-6 col-md-6 col-sm-8 col-xs-16">
                              <div class="tile-stats">
                                    <div class="tile_header"><span>NOMBRE: </span> {{ simulacion.simular_archivo_idf  }} </div>
                                    <!--<div class="count"> {{ simulacion.simular_archivo_idf }} </div>-->

                                        <div>
                                            <h3> Archivo IDF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-file-o fa-2x"></span></h3>
                                            <p>ARCHIVO DE SIMULACIÓN.</p>

                                        </div>
                              </div>
           </div>
           <div class="animated flipInY col-lg-6 col-md-6 col-sm-8 col-xs-16">
                              <div class="tile-stats">
                                    <div class="tile_header"><span>NOMBRE: </span> {{ simulacion.simular_clima }} </div>
                                    <!--<div class="count"> {{ simulacion.simular_archivo_idf }} </div>-->

                                        <div>
                                            <h3> Archivo EPW &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-file-o fa-2x"></span></h3>
                                            <p>ARCHIVO DE CLIMA.</p>

                                        </div>
                              </div>
           </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
           <div class="col-md-5 col-md-offset-5">
               <button type="button" class="btn btn-info btn-lg">Simular</button>
           </div>


{% endblock %}


{% load static  %}


