{% extends 'layout.html' %}

{% block header %}  <h2>Simular IDF  <small>PROTOTIPO WEB</small></h2> {% endblock %}


{% block title %} Simular IDF | Simulación {{ simulacion.simular_id }}{% endblock %}



{% load static  %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

{% block content %}
{% block jumbotron %}
 {% if message %}
      <div class='alert alert-success'>
        {{ message }}
      </div>
{% endif %}
{% endblock %}
<div class="row">
    <div  id="loading" class="col-md-12 col-sm-12 col-xs-12" style="height: 500px">

        <div id="page-header" class="page-header">
              <h2>Identificador de simulación: {{ simulacion.simular_id }} </h2>
        </div>

        <form action="simular/{{ simulacion.simular_id }}/submit" method="POST"   enctype="multipart/form-data"  id="submit">

               {% csrf_token %}
               <div class="animated flipInY col-lg-6 col-md-6 col-sm-8 col-xs-16">
                                  <div class="tile-stats">
                                        <div class="tile_header"><span>NOMBRE: </span> {{ simulacion.simular_archivo_idf  }} </div>
                                        <!--<div class="count"> {{ simulacion.simular_archivo_idf }} </div>-->

                                            <div>
                                                <h3> Archivo IDF &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-file-o fa-2x"></span></h3>
                                                <p>ARCHIVO DE SIMULACIÓN.</p>

                                            </div>
                                  </div>
               </div>
               <div  class="animated flipInY col-lg-6 col-md-6 col-sm-8 col-xs-16">
                                  <div class="tile-stats">
                                        <div class="tile_header"><span>NOMBRE: </span> {{ simulacion.simular_clima }} </div>
                                        <!--<div class="count"> {{ simulacion.simular_archivo_idf }} </div>-->

                                            <div>
                                                <h3> Archivo EPW &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-file-o fa-2x"></span></h3>
                                                <p>ARCHIVO DE CLIMA.</p>

                                            </div>
                                  </div>
               </div>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;

               <div class="col-md-5 col-md-offset-5">
                   <button id="boton_submit "type="submit" class="btn btn-info btn-lg" value="Submit">Simular</button>

               </div>
        </form>

        <!--<div id="loading" >-->
               <!--</div>-->
    </div>
</div>






<script>
$('#boton_submit').click(function ()

 { $('#page-header').hide();
 { $('#submit').hide();
 { $('#loading').html('<div class="loader">SIMULANDO ...</div>');

 return false }}});
</script>



<style>
.loader {
  width: 250px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #08cece;
  letter-spacing: 0.2em;
}
.loader::before, .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #08CECE;
  position: absolute;
  -webkit-animation: load .7s infinite alternate ease-in-out;
          animation: load .7s infinite alternate ease-in-out;
}
.loader::before {
  top: 0;
}
.loader::after {
  bottom: 0;
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

</style>



{% endblock %}


{% load static  %}


