{% extends 'layout.html' %}
{% load static  %}


{% block header %}  <h2> Detalle objeto <small>PROTOTIPO WEB</small></h2> {% endblock %}

{% block jumbotron %}
 {% if message %}
      <div class='alert alert-info'>
       <span> {{ message }}</span>
      </div>
    {% endif %}
{% endblock %}
{% block content %}

<div class="row tile_count" >
            <div class="animated flipInY col-md-4 col-sm-4 tile_stats_count" >
            <div class="left"></div>
            <div class="center_title" align="center">
              <span  class="count_top"> NOMBRE CLASE </span>
              <div class="count" style="font-size: 27px">{{ args_class }}</div>
            </div>
            </div>
           {% load get_material %}
                <div class="animated flipInY col-md-4 col-sm-4 tile_stats_count" >
                <div class="left"></div>
                <div class="right" align="center">
                  <span class="count_top"> NOMBRE OBJETO COMERCIAL </span>
                     <div class="count" style="font-size: 27px"> {{ args_name|get_material }}</div>

                </div>
                </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="animated flipInY col-md-3 col-sm-3 col-xs-12 tile_stats_count">
            <div class="left"></div>
            <div class="right" align="center">
              <span class="count_top"> NOMBRE OBJETO </span>
              <div class="count" style="font-size: 27px">{{ args_name }}</div>
            </div>
          </div>
        </div>
        <!-- /top tiles -->


<table class="table table-bordered" align="center">
         <thead>
             <tr>
             <th>Nombre Atributo</th>
             <th>Unidad de Medida</th>
             <th>Valor Atributo</th>
             </tr>
         </thead>
         <tbody>

         {% load get_name %}
         {% for a,b in list   %}
               <tr>
                 {% if  a  == 'key'  %}
                   <td> Clase objeto </td>
                   <td>  </td>
                   <td> {{ b }} </td>
                {% else %}
                    {% if  a  == 'Thickness'  %}
                   <td> {{ a|get_name }} </td>
                   <td> m </td>
                   <td> {{ b }} </td>
                {% else %}
                   {% if  a  == 'Conductivity'  %}
                   <td> {{ a|get_name }} </td>
                   <td> W/m-k </td>
                   <td> {{ b }} </td>
                {% else %}
                   {% if  a  == 'Density'  %}
                   <td> {{ a|get_name }} </td>
                   <td> kg/m3 </td>
                   <td> {{ b }} </td>
                {% else %}
                   {% if  a  == 'Specific_Heat'  %}
                   <td> {{ a|get_name }} </td>
                   <td> J/kg-K </td>
                   <td> {{ b }} </td>
                {% else %}
                   <td> {{ a|get_name }} </td>
                   <td>  </td>
                   <td> {{ b }} </td>

                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}
               </tr>
         {% endfor %}
         </tbody>
 </table>


{% endblock %}

{% load static  %}
